/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
$border-color: #000;
$tileWidth:4vw;
$numberWidth:3vw;
$number-line_height:4em;


@mixin textcenter($lineHeight) {
	text-align:center;
	line-height:$lineHeight;
}
@font-face {
	font-family:cabin;
	src:url(./cabinsketch/CabinSketch-Bold.otf);
}
@font-face {
	font-family:poetsen;
	src:url(./poetsen/PoetsenOne-Regular.otf);
}
#container {
	padding:1em;
	font-family:cabin;
}
header {
	text-align:center;
	padding-bottom:1em;
	margin-bottom:0.5em;
	h1 {
		font-size:$tileWidth;
	}
}
.content {
	width:$tileWidth * 9 + 4vw;
	margin-left:auto;
	margin-right:auto;
	display:table;
	text-align:center;
	#selection {
		display:inline-block;
		margin-bottom:1em;
		margin-left:auto;
		margin-right:auto;
		.number {
			&:first-child { margin-left:0px;}
			@include textcenter($numberWidth);
			float:left;
			width:$numberWidth;
			height:$numberWidth;
			margin-left:1vw;
			background:#fff;
			border:2px solid $border-color;
			@include box-sizing(border-box);
			& h2 {
				font-size:$numberWidth;
			}
			&:hover {
				background:#9EE0FF;
			}
		}
		.done {
			display: none;
		}
	}
	#board_wrapper{
		background:#FFF;
		position:relative;
		display:table;
		width:$tileWidth * 9;
		height:$tileWidth * 9;
		margin-left:auto;
		margin-right:auto;
		.wrapper{
			width:100%;
			&:first-child{
				.sudoku_tile{
					border-top-width:4px;
				}
			}
			&:last-child{
				.sudoku_tile{
					border-bottom-width:4px;
				}
			}
			.sudoku_tile {
				@include textcenter($tileWidth);
				position:relative;
				display:table-cell;
				width:$tileWidth;
				height:$tileWidth;
				& h2 {
					height:100%;
					font-size:4vw;
					width:100%;
				}
				border:2px solid $border-color;
				@include box-sizing(border-box);
				&:first-child{ border-left-width:4px; }
				&:last-child { border-right-width:4px;}
			}
			.cell_onclick {
				background:#FFDDDD;
			}
			.cell_related {
				background:#FFDDDD;
			}
			.wrong {
				background:#FF0000;
				@include transform(background);
				@include transition-duration(1s);
			}
			.preset {
				background:#DDD;
			}
			.cell_sameVal {
				background:#FFDDDD!important;
			}
			.border_left {
				border-left-width:4px;
			}
			.border_top {
				border-top-width:4px;
			}
		}	
	}
	#options {
		display:inline-block;
		margin-top:1em;
		margin-left:auto;
		margin-right:auto;
		//font-family: cabin;
		.btnOption {
			width:8.8vw;
			height:3vw;
			border:1px solid gray;
			background:#DDD;
			margin-left:1vw;
			font-family:cabin;
			font-size:1.6vw;
			&:first-child{
				margin-left:0px;
			}
		}
	}
}

@media all and (max-width: 53.5em) { // 800px / 16 = 53em
	$tileWidth:7vw;
	$numberWidth:5vw;
	header {
		text-align:center;
		padding-bottom:1em;
		margin-bottom:0.8em;
		h1 {
			font-size:$tileWidth;
		}
	}
	.content {
		width:$tileWidth * 9 + 4vw;
		#selection{
			.number{
				width:$numberWidth;
				height:$numberWidth;
				@include textcenter($numberWidth);
				h2{
					font-size:$numberWidth;
				}
			}
		} 
		#board_wrapper {
			width:$tileWidth * 9;
			.wrapper {
				.sudoku_tile {
					width:$tileWidth;
					height:$tileWidth;
					@include textcenter($tileWidth);
					h2 {
						font-size:$tileWidth;
					}
				}
			}
		}
		#options {
			.btnOption {
				width:14.1vw;
				height:4.5vw;
				margin-left:1vw;
				font-size:2.2vw;
				&:first-child{
					margin-left:0px;
				} 
			}
		}
	}
}
@media all and (max-width: 40em) { // 800px / 16 = 53em
	$tileWidth:8vw;
	$numberWidth:6vw;
	header {
		text-align:center;
		padding-bottom:1em;
		margin-bottom:0.8em;
		h1 {
			font-size:$tileWidth;
		}
	}
	.content {
		width:$tileWidth * 9 + 4vw;
		#selection{
			.number{
				width:$numberWidth;
				height:$numberWidth;
				@include textcenter($numberWidth);
				h2 {
					font-size: $numberWidth;
				}
			}
		} 
		#board_wrapper {
			width:$tileWidth * 9;
			.wrapper {
				.sudoku_tile {
					width:$tileWidth;
					height:$tileWidth;
					@include textcenter($tileWidth);
					h2 {
						font-size:$numberWidth;
					}
				}
				.border_left {
					border-left-width:3px;
				}
				.border_top{
					border-top-width:3px;
				}
			}
		}
		#options {
			.btnOption {
				width:12vw;
				height:8vw;
				margin-left:4vw;
				font-size: 3vw;
				&:first-child{
					margin-left:0px;
				}
			}
		}
	}
}


