/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-2.1.1@rails4.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.1@rails4.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.1@rails4.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.1@rails4.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.1@rails4.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.1@rails4.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.1@rails4.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.1@rails4.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.1@rails4.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/screen.scss */
#container {
  background: #FFAD00;
  padding: 1em;
}

/* line 27, ../sass/screen.scss */
#content {
  width: 43vw;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  display: table;
}
/* line 33, ../sass/screen.scss */
#content #selection {
  display: block;
  margin-bottom: 1em;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/* line 40, ../sass/screen.scss */
#content #selection .number {
  text-align: center;
  line-height: 3vw;
  float: left;
  width: 3vw;
  height: 3vw;
  margin-left: 1vw;
  background: #fff;
  border: 1px solid #9ee0ff;
}
/* line 41, ../sass/screen.scss */
#content #selection .number:last-child {
  margin-right: 0.5em;
}
/* line 49, ../sass/screen.scss */
#content #selection .number h2 {
  font-size: 2em;
}
/* line 52, ../sass/screen.scss */
#content #selection .number:hover {
  background: #9EE0FF;
}
/* line 56, ../sass/screen.scss */
#content #selection .done {
  display: none;
}
/* line 60, ../sass/screen.scss */
#content #board_wrapper {
  background: #FFF;
  position: relative;
  display: table;
  width: 40.5vw;
  height: 40.5vw;
  margin-left: auto;
  margin-right: auto;
}
/* line 68, ../sass/screen.scss */
#content #board_wrapper .wrapper {
  width: 100%;
}
/* line 70, ../sass/screen.scss */
#content #board_wrapper .wrapper .sudoku_tile {
  text-align: center;
  line-height: 4.5vw;
  position: relative;
  display: table-cell;
  width: 4.5vw;
  height: 4.5vw;
  border: 1px solid #9ee0ff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 77, ../sass/screen.scss */
#content #board_wrapper .wrapper .sudoku_tile h2 {
  height: 100%;
  font-size: 2em;
  width: 100%;
}
/* line 85, ../sass/screen.scss */
#content #board_wrapper .wrapper .cell_onclick {
  background: #FFDDDD;
}
/* line 88, ../sass/screen.scss */
#content #board_wrapper .wrapper .cell_related {
  background: #FFDDDD;
}
/* line 91, ../sass/screen.scss */
#content #board_wrapper .wrapper .wrong {
  background: #FF0000;
  -webkit-transform: background;
  -moz-transform: background;
  -ms-transform: background;
  -o-transform: background;
  transform: background;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 96, ../sass/screen.scss */
#content #board_wrapper .wrapper .preset {
  background: #DDD;
}
/* line 99, ../sass/screen.scss */
#content #board_wrapper .wrapper .cell_sameVal {
  background: #ffdddd !important;
}
/* line 102, ../sass/screen.scss */
#content #board_wrapper .wrapper .border_left {
  border-left-width: 4px;
}
/* line 105, ../sass/screen.scss */
#content #board_wrapper .wrapper .border_top {
  border-top-width: 4px;
}
/* line 110, ../sass/screen.scss */
#content #btnOption {
  width: 42vw;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 115, ../sass/screen.scss */
#content #btnOption .btnOption {
  width: 8vw;
  height: 3vw;
  border: 1px solid gray;
  background: #DDD;
  margin-left: 2vw;
}

@media all and (max-width: 53.5em) {
  /* line 128, ../sass/screen.scss */
  #content {
    width: 73vw;
  }
  /* line 130, ../sass/screen.scss */
  #content #selection {
    width: 68vw;
  }
  /* line 132, ../sass/screen.scss */
  #content #selection .number {
    width: 6vw;
    height: 6vw;
    text-align: center;
    line-height: 6vw;
  }
  /* line 138, ../sass/screen.scss */
  #content #board_wrapper {
    width: 72vw;
  }
  /* line 141, ../sass/screen.scss */
  #content #board_wrapper .wrapper .sudoku_tile {
    width: 8vw;
    height: 8vw;
    text-align: center;
    line-height: 8vw;
  }
  /* line 146, ../sass/screen.scss */
  #content #board_wrapper .wrapper .border_left {
    border-left-width: 3px;
  }
  /* line 149, ../sass/screen.scss */
  #content #board_wrapper .wrapper .border_top {
    border-top-width: 3px;
  }
  /* line 154, ../sass/screen.scss */
  #content #btnOption {
    width: 60vw;
  }
  /* line 156, ../sass/screen.scss */
  #content #btnOption .btnOption {
    width: 12vw;
    height: 4vw;
    margin-left: 2vw;
  }
}
@media all and (max-width: 35em) {
  /* line 167, ../sass/screen.scss */
  #content {
    width: 73vw;
  }
  /* line 169, ../sass/screen.scss */
  #content #selection {
    width: 70vw;
  }
  /* line 171, ../sass/screen.scss */
  #content #selection .number {
    width: 6vw;
    height: 6vw;
    text-align: center;
    line-height: 6vw;
  }
  /* line 177, ../sass/screen.scss */
  #content #board_wrapper {
    width: 72vw;
  }
  /* line 180, ../sass/screen.scss */
  #content #board_wrapper .wrapper .sudoku_tile {
    width: 8vw;
    height: 8vw;
    text-align: center;
    line-height: 8vw;
  }
  /* line 185, ../sass/screen.scss */
  #content #board_wrapper .wrapper .border_left {
    border-left-width: 3px;
  }
  /* line 188, ../sass/screen.scss */
  #content #board_wrapper .wrapper .border_top {
    border-top-width: 3px;
  }
  /* line 193, ../sass/screen.scss */
  #content #btnOption {
    width: 65vw;
  }
  /* line 195, ../sass/screen.scss */
  #content #btnOption .btnOption {
    width: 10vw;
    height: 8vw;
    margin-left: 5vw;
  }
}
