<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sudoku Game</title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="../stylesheets/screen.css">
    <meta charset="UTF-8">
    <script type="text/javascript" src="../lib/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../js/SudokuDataModel.js"></script>
    <script type="text/javascript" src="../js/generateData.js"></script>
    <script type="text/javascript" src="../js/SudokuView.js"></script>
    <script type="text/javascript" src="../js/ModalView.js"></script>
    <script type="text/javascript" src="../js/Sudoku.js"></script>
  </head>
  <body>
    <div id="container">
      <header>
        <div class="content">
          <h1>Sudoku Game</h1>
        </div>
      </header>
      <main class="content">
        <div id="selection">
          <div class="number">
            <h2 class="selectable_number">1</h2>
          </div>
          <div class="number">
            <h2 class="selectable_number">2</h2>
          </div>
          <div class="number">
            <h2 class="selectable_number">3</h2>
          </div>
          <div class="number">
            <h2 class="selectable_number">4</h2>
          </div>
          <div class="number">
            <h2 class="selectable_number">5</h2>
          </div>
          <div class="number">
            <h2 class="selectable_number">6</h2>
          </div>
          <div class="number">
            <h2 class="selectable_number">7</h2>
          </div>
          <div class="number">
            <h2 class="selectable_number">8</h2>
          </div>
          <div class="number">
            <h2 class="selectable_number">9</h2>
          </div>
        </div>
        <div id="board_wrapper">
          <div display="table" width="100%" top="0em" class="wrapper">
            <div class="sudoku_tile">
              <h2 data-row='0' data-col='0' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='0' data-col='1' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='0' data-col='2' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='0' data-col='3' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='0' data-col='4' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='0' data-col='5' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='0' data-col='6' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='0' data-col='7' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='0' data-col='8' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
          </div>
          <div display="table" width="100%" top="4em" class="wrapper">
            <div class="sudoku_tile">
              <h2 data-row='1' data-col='0' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='1' data-col='1' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='1' data-col='2' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='1' data-col='3' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='1' data-col='4' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='1' data-col='5' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='1' data-col='6' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='1' data-col='7' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='1' data-col='8' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
          </div>
          <div display="table" width="100%" top="8em" class="wrapper">
            <div class="sudoku_tile">
              <h2 data-row='2' data-col='0' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='2' data-col='1' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='2' data-col='2' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='2' data-col='3' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='2' data-col='4' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='2' data-col='5' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='2' data-col='6' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='2' data-col='7' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='2' data-col='8' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
          </div>
          <div display="table" width="100%" top="12em" class="wrapper">
            <div class="sudoku_tile border_top">
              <h2 data-row='3' data-col='0' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_top">
              <h2 data-row='3' data-col='1' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_top">
              <h2 data-row='3' data-col='2' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left border_top">
              <h2 data-row='3' data-col='3' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_top">
              <h2 data-row='3' data-col='4' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_top">
              <h2 data-row='3' data-col='5' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left border_top">
              <h2 data-row='3' data-col='6' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_top">
              <h2 data-row='3' data-col='7' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_top">
              <h2 data-row='3' data-col='8' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
          </div>
          <div display="table" width="100%" top="16em" class="wrapper">
            <div class="sudoku_tile">
              <h2 data-row='4' data-col='0' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='4' data-col='1' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='4' data-col='2' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='4' data-col='3' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='4' data-col='4' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='4' data-col='5' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='4' data-col='6' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='4' data-col='7' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='4' data-col='8' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
          </div>
          <div display="table" width="100%" top="20em" class="wrapper">
            <div class="sudoku_tile">
              <h2 data-row='5' data-col='0' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='5' data-col='1' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='5' data-col='2' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='5' data-col='3' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='5' data-col='4' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='5' data-col='5' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='5' data-col='6' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='5' data-col='7' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='5' data-col='8' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
          </div>
          <div display="table" width="100%" top="24em" class="wrapper">
            <div class="sudoku_tile border_top">
              <h2 data-row='6' data-col='0' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_top">
              <h2 data-row='6' data-col='1' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_top">
              <h2 data-row='6' data-col='2' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left border_top">
              <h2 data-row='6' data-col='3' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_top">
              <h2 data-row='6' data-col='4' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_top">
              <h2 data-row='6' data-col='5' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left border_top">
              <h2 data-row='6' data-col='6' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_top">
              <h2 data-row='6' data-col='7' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_top">
              <h2 data-row='6' data-col='8' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
          </div>
          <div display="table" width="100%" top="28em" class="wrapper">
            <div class="sudoku_tile">
              <h2 data-row='7' data-col='0' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='7' data-col='1' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='7' data-col='2' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='7' data-col='3' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='7' data-col='4' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='7' data-col='5' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='7' data-col='6' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='7' data-col='7' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='7' data-col='8' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
          </div>
          <div display="table" width="100%" top="32em" class="wrapper">
            <div class="sudoku_tile">
              <h2 data-row='8' data-col='0' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='8' data-col='1' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='8' data-col='2' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='8' data-col='3' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='8' data-col='4' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='8' data-col='5' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile border_left">
              <h2 data-row='8' data-col='6' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='8' data-col='7' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
            <div class="sudoku_tile">
              <h2 data-row='8' data-col='8' data-val="&amp;nbsp;">&nbsp;</h2>
            </div>
          </div>
        </div>
        <aside id="options">
          <button id="clear_tile" class="btn_option">Clear Tile</button>
          <button id="clear_row" class="btn_option"> Clear Row</button>
          <button id="clear_col" class="btn_option"> Clear Col.</button>
          <button id="clear_all" class="btn_option"> Clear All</button>
        </aside>
      </main>
      <div id="modal">
        <div class="content">
          <h1>Congratulations! You solve the Sudoku!</h1>
          <button id="newGame" class="btn_option_new_game">New Game</button>
          <button id="cancel" class="btn_option_new_game"> Cancel</button>
        </div>
      </div>
    </div>
  </body>
</html>